/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 16 Kas 2025, 16:45:21
    Author     : ZEHRA
*/

.duyurular-container {
    width: 75%;
    margin: 40px auto;
    padding: 20px;
}

.duyurular-container h1 {
    text-align: center;
    margin-bottom: 30px;
    font-size: 28px;
    color: #333;
}

.duyuru {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.duyuru a {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    text-decoration: none;
}

.duyuru a:hover {
    color: #ff8080;
}

.tarih {
    display: block;
    margin-top: 5px;
    font-size: 13px;
    color: #777;
}
