/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 12 Kas 2025, 16:39:53
    Author     : ZEHRA
*/

body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
}

.topbar {
  background: #A3E4D7;
  padding: 8px 20px;
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);
}

.logo {
  display: flex;
  align-items: center;
  font-weight: bold;
  font-size: 1.3rem;
  color: #FF7E5F;
}

.logo-img {
  width: 85px;
  height: auto;
  margin-right: 10px;
  border-radius: 50%;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin: 0;
  padding: 0;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: #333;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #FF7E5F;
}

.btn {
  background: #FFB347;
  padding: 10px 20px;
  color: white;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  transition: background 0.3s ease;
}

.navbar .btn {
  background: #FFB347;
  padding: 10px 20px;
  border-radius: 30px;
  color: white;
  font-weight: bold;
  text-decoration: none;
}
.btn:hover {
  background: #FF7E5F;
}

html {
  overflow-y: scroll;
}
