<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
            <html xmlns:th="http://www.thymleaf.org">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Duyurular | CEYAN Çocuk Atölyesi</title>

    <link rel="stylesheet" href="/style.css">
        <link rel="stylesheet" href="/duyurular.css">
            </head>

            <body>

                 <div th:replace="fragments :: topbar"></div>
                <header th:replace="fragments :: header"></header>

 
            

            


            <div class="duyurular-container">

                <div th:each="d : ${duyurular}" class="duyuru">

                    <a th:href="@{/duyuru/{id}(id=${d.id})}" class="duyuru-card">

                        <h3 th:text="${d.baslik}"></h3>

                        <span class="tarih" th:text="${#temporals.format(d.tarih, 'dd MMMM yyyy')}"></span>

                       
                    </a>

                </div>

            </div>

            </body>
            </html>
