<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html lang="tr">
    <head>
        <meta charset="UTF-8">
    <html xmlns:th="http://www.thymleaf.org">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Galeri | CEYAN Çocuk Atölyesi</title>
        <link rel="stylesheet" href="/style.css">
            <link rel="stylesheet" href="/galeri.css">
                </head>
                <body>
                <div th:replace="fragments :: topbar"></div>
                <header th:replace="fragments :: header"></header>


                



                <div class="galeri">




                    <th:block th:each="g : ${resimler}">
                        <img th:src="${g.resimYolu}" alt="Galeri Resmi">
                    </th:block>

                </div>



                </body>
                </html>
