<!DOCTYPE html>
<html lang="tr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CEYAN Çocuk Atölyesi</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>

  <div class="topbar">
    <span>📞 0(542) 899 88 85</span>
    <span>✉️ info@ceyanatolye.com</span>
    <span class="social">Takip Et: 🌐 IG | FB</span>
  </div>


  <header>
    <div class="logo">
        <img src="/CEYAN.png" alt="Logo" class="logo-img">
            <span>CEYAN ÇOCUK ATÖLYESİ</span>
    </div>
    <nav>
      <ul>
        <li><a href="#">Anasayfa</a></li>
        <li><a href="#">Kurumsal</a></li>
        
        <li><a href="#">Programlarımız</a></li>
        <li><a href="#">Galeri</a></li>
        <li><a href="#">Duyurular</a></li>
        <li><a href="#">İletişim</a></li>
      </ul>
    </nav>
    <a href="/on-kayit" class="btn">Hızlı Ön Kayıt</a>


  </header>

  <section class="hero">
    <div class="hero-text">
      <p class="subtitle">Oyunla Gelişim, Eğlenceyle Öğrenim! 🌟</p>
      <h1>Hayallerin oyuna, oyunların keşfe dönüştüğü atölye: <span>Ceyan</span>  Oyun Atölyesi!</h1>
      <p class="desc">Çocukların yaratıcılığını, sosyal becerilerini ve hayal güçlerini geliştiren 
         eğlenceli ve güvenli bir atölye deneyimi sunuyoruz. Hemen aramıza katılın!</p>
      <div class="dropdown-container">
      <a href="#" class="btn">Atölyelerimiz</a>
      
      <div class="dropdown-content">
        <p>🎨 Sanat Atölyesi</p>
        <p>🎵 Müzik Atölyesi</p>
        <p>🎭 Drama Atölyesi</p>
        <p>🧩 Oyun Atölyesi</p>
        <p>🔬 Stem Atölyesi</p>
        <p>📚 Kitap Atölyesi</p>

          
      </div>
    </div>
      </div>
    <div class="hero-img">
<img src="/01.png" alt="Mutlu Çocuk">
    </div>
  </section>
</body>
</html>
