<!DOCTYPE html>
<html xmlns:th="http://www.thymleaf.org">
    <head>
        <meta charset="UTF-8">
    
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CEYAN Çocuk Atölyesi</title>
    <link rel="stylesheet" href="/style.css">

    </head>
    <body>
        <div th:replace="fragments :: topbar"></div>
                <header th:replace="fragments :: header"></header>

 
 
 

<!--    <div class="topbar">
        <span>📞 0(542) 899 88 85</span>
        <span>✉️ info@ceyanatolye.com</span>
        <span class="social">Takip Et: 🌐 IG | FB</span>
    </div>-->

   

                                    <section class="hero">
                                        <div class="hero-text">
                                            <p class="subtitle">Oyunla Gelişim, Eğlenceyle Öğrenim! 🌟</p>
                                            <h1>Hayallerin oyuna, oyunların keşfe dönüştüğü atölye: <span>Ceyan</span> Oyun Atölyesi!</h1>
                                            <p class="desc">Çocukların yaratıcılığını, sosyal becerilerini ve hayal güçlerini geliştiren eğlenceli ve güvenli bir atölye deneyimi sunuyoruz. Hemen aramıza katılın!</p>

                                        </div>
                                        <div class="hero-img circle-group">
                                            <div class="circle c1"><img src="/01.png"></div>
                                            <div class="circle c2"><img src="/indir.jpg"></div>
                                            <div class="circle c3"><img src="/anasayfa2.jpg"></div>
                                        </div>


                                    </section>

                                    </body>
                                    </html>
