<!DOCTYPE html>
<html lang="tr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hızlı Ön Kayıt</title>
    <link rel="stylesheet" href="/style.css">
    </head>
    <body class="hizli-onkayit">

    <div class="topbar">
        <span>📞 0(542) 899 88 85</span>
        <span>✉️ info@ceyanatolye.com</span>
        <span class="social">Takip Et: 🌐 IG | FB</span>
    </div>

    <header>
        <div class="logo">
            <img src="/CEYAN.png" alt="Logo" class="logo-img">
                <span>CEYAN ÇOCUK ATÖLYESİ</span>
        </div>

        <nav>
            <ul>
                <li><a href="/">Anasayfa</a></li>
                <li><a href="#">Kurumsal</a></li>
                <li class="dropdown-container">
                    <a href="#">Programlarımız</a>
                    <ul class="dropdown-content">
                        <li><a href="#">🎨 Sanat Atölyesi</a></li>
                        <li><a href="#">🎵 Müzik Atölyesi</a></li>
                        <li><a href="#">🎭 Drama Atölyesi</a></li>
                        <li><a href="#">🧩 Oyun Atölyesi</a></li>
                        <li><a href="#">🔬 Stem Atölyesi</a></li>
                        <li><a href="#">📚 Kitap Atölyesi</a></li>
                    </ul>
                </li>
                <li><a href="/galeri">Galeri</a></li>
                <li><a href="/duyurular">Duyurular</a></li>
                <li><a href="iletisim">İletişim</a></li>
                <li><a href="/on-kayit" class="btn-navbar">Hızlı Ön Kayıt</a></li>
            </ul>
        </nav>
    </header>

    <section class="form-section">
        <form action="/on-kayit" method="post">
            <label>Çocuğun Adı Soyadı:</label>
            <input type="text" name="childName" required>

                <label>Veli Adı Soyadı:</label>
                <input type="text" name="parentName" required> 

                    <label>Veli Telefon Numarası:</label>
                    <input type="tel" name="phone" required> 

                        <label>Atölye Seçimi</label>
                        <select name="atolye" required>
                            <option>Sanat Atölyesi</option>      
                            <option>Müzik Atölyesi</option>            
                            <option>Drama Atölyesi</option>            
                            <option>Oyun Atölyesi</option>            
                            <option>Stem Atölyesi</option>            
                            <option>Kitap Atölyesi</option>  
                        </select>

                        <button type="submit" class="btn">Gönder</button>                                                                                   
                        </form>
                        </section>

                        <script>
                            const phone = document.querySelector('input[name="phone"]');

                            phone.addEventListener('input', function () {
                                this.value = this.value.replace(/\D/g, '');

                                if (this.value.length > 11) {
                                    this.value = this.value.slice(0, 11);
                                }
                            });
                        </script>
                        </body>
                        </html>
